<!doctype html>
<html lang="en" ng-app>
	<head>
		<title>
			Clvr Tv Sample
		</title>
		
		<link href="css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			#mark{
				display: none;
				position: absolute;
			}
			#stage {
				display: none;
				position: absolute;
				width: 640px;
				height: 480px;
				/*background-color: #CCC;
				opacity: 0.3;*/
			}
		</style>
		<script type="text/javascript" src="js/libs/swfobject.js"></script>
        <script type="text/javascript" src="js/libs/ParsedQueryString.js"></script>
	</head>
	<body ng-controller="SamplesControl">

		<div class="row">
			<div class="span9">
				<button id="canvas_btn" ng-click="onClickStartCanvas();" class="btn btn-primary btn-large">Start Canvas</button>
				<button id="div_btn" ng-click="onClickStartDiv();" class="btn btn-primary btn-large">Start Div</button>
			</div>
		</div>
		<div class="row">
			<div class="span9">
				<div id="StrobeMediaPlayback">
		            <p>
		                Alternative content
		            </p>
		        </div>
				<div id="mark"><img src="img/h2o.png"></div>
				<canvas id="stage" width="640" height="480"></canvas>
			</div>
		</div>
	
		<script src="js/libs/jquery.min.js" type="text/javascript"></script>
		<script src="js/libs/bootstrap.min.js" type="text/javascript"></script>
		<script src="js/libs/angular.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://code.createjs.com/easeljs-0.4.2.min.js"></script>
		<script type="text/javascript" src="http://code.createjs.com/tweenjs-0.2.0.min.js"></script>
		
		<script src="js/controllers.js" type="text/javascript"></script>
		<script src="js/player.js" type="text/javascript"></script>
	</body>
</html>